.nav{
  background: none;
}

.my_work_tile {
  background-color: #FFFFFF;
  min-height: 30vh;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

}

#profilePhotoDiv {
  /*background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../images/duzn.jpg");*/
  background-image: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("../images/duzn.jpg");
  background-size: cover; /*contain?*/
  height: 100vh;
}
