body{
    font-family:Trebuchet MS;
    background-color: #FFF;
}

div.sectionDiv{
  width:90%;
  margin: auto;
}

p1{
  font-size: 30px;
}

p2{
  font-size: 20px;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.navbar {
  opacity : 1.0;
}

.navbar-nav {
  opacity : 1.0;
}

div.schoolInfo {
  height: 500px;
  width: 49.5%;
  display: inline-block;
  position:relative;
  font-size: 16px;

}

div.schoolInfo > img {
  display: block;
  height: 300px;
  width: 100%;
  position: relative;
}

div.education{
  width: 90%;
  margin: auto;
}

div.educationHeader{
  padding-top:90px;
  font-size:30;
  position: relative;
  top: 50%;
  transform: translateY(-20%);
}

.logoStuff {

  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 5px;

}

ul.classesList{
  list-style-type: none;
}

img.projectLogo{
  height: 300px;
  width: 300px;
}

div.cardDiv{
  width: 98%;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  position: relative;
  border-radius: 5px;
}

.cardTopLeft{
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 5px;
  height: 80px;
  width: 80px;
}

div.schoolstuff{
  margin-top: 2px;
  margin-left: 15px;
}

table.cardTable td{
  vertical-align: top;
  text-align: left;
}

.miaraScreenshot {
  padding: 5px 5px 5px 5px;
  display:block;
  width:95%;
  height:auto;
  border-radius: 8px;
}
